{
  "expert": {
    "editConfig": true,
    "editNote": true,
    "newWorkspace": true,
    "newFolder": true,
    "viewStatistics": true,
    "moveMenu": true,
    "showLog": true,
    "classify": true,
    "train": true,
    "test": true,
    "validate": true,
    "workspaces": [
      "*",
      "Kuchen Linescan",
      "Deleted"
    ],
    "showConfusionMatrix": true,
    "editConfigUI": true,
    "showExplorerNotes": true,
    "editConfigUI": false,
    "leaveWorkspace": false
  },
  "operator": {
    "editConfig": false,
    "editNote": false,
    "newWorkspace": false,
    "newFolder": false,
    "viewStatistics": false,
    "moveMenu": false,
    "showLog": false,
    "classify": true,
    "train": false,
    "test": false,
    "validate": false,
    "workspaces": [
      "*"
    ],
    "editConfigUI": false,
    "leaveWorkspace": false
  }
}
