{
  "model_dir": "test_model",
  "log_every_n_steps": 1,
  "path_to_dataset_training": "X:\\Projects\\TrainingData\\Roche_Example2\\training",
  "classes": [  "edelstahl", "faser", "glas", "gut", "haar", "kunststoff", "reflexion" ],
  "batch_size": 32,
  "max_train_steps": 8090,
  "input_width": 80,
  "input_height": 80,
  "input_depth": 1,
  "enable_linear_stretch_images": false,
  "enable_vgg_transform": false,
  "enable_augmentation_mirror": true,
  "enable_augmentation_noise": true,
  "enable_augmentation_brightness": true,
  "augmentation_noise_std": 0.04,
  "augmentation_brightness_delta": 0.5,
  "network_architecture": "net_CPCPCP",
  "pretrained_checkpoint": "/tmp/checkpoints/vgg_16.ckpt",
  "weight_initializer": "xavier",
  "weight_initializer_scale": 0.001,
  "dropout_rate": 0.75,
  "l2_regularization": 0.0,
  "optimizer": "SGD",
  "learning_rate": 0.001,
  "decay": 0.999,
  "momentum": 0.9,
  "epsilon": 1e-10,
  "rename" : true,
  "output_dir" : "tested",
	"heatmap_dir" : "heatmaps",
	"output_layer" : "import/softmax",
	"feature_layer" : "import/Network/Pool_3/MaxPool",
  "input_layer" : "import/MODEL_INPUT",
	"colormap" : "HSV",
	"heatmap_types" : ["overlay"],

	"GPU": true,
	"prefetch": 4,
	"in_ram": false,

  "script_training": "script_training.sh",
  "script_test": "script_test.sh",
  "script_validate": "script_validate.sh",
  "script_stop_training": "script-stop-test.sh",
  "script_stop_test": "script_stop_training.sh",
  "script_stop_validation": "script-stop-validate.sh",
  "script_export_model": "script-export-model.sh",
  "script_export_result": "script-export-result.sh",
  "script_export_image": "script-export-image.sh",
  "script_report": "script-report.sh",
  "script_split_data": "script-split-data.sh",
  "path_log_training": "training.log",
  "path_log_test": "test.log",
  "path_log_validate": "validate.log",
  "path_field_export_model": "/export_model",
  "path_field_export_results": "/export_result",
  "path_field_export_images": "/export_images",
  "path_train": "train",
  "path_test": "test",
  "path_validate": "validate",
  "defaultEpoch": null,
  "defaultLearningRate": null,
  "ViewLogLines": 2,
  "LiveViewURL": https://ejectx.de
}
